In [1]:
import pandas as pd
import numpy as np
import re

In [39]:
BF=pd.read_csv("Battlefieldreviews.csv")

In [51]:
BF.head(5)

,Unnamed: 0,helpful,recommendations,hours,review,date,Help,funny
0,0,No one has rated this review as helpful yet0,Recommended,95.9,"Pretty good now, shame it took this long to ge...",Posted: 27 January,,0
1,1,No one has rated this review as helpful yet0,Recommended,1.0,surprisingly good! Shields are OP :) one hit k...,Posted: 27 January,,0
2,2,No one has rated this review as helpful yet0,Recommended,5.5,"i got this game today, and played 5.5 hours st...",Posted: 27 January,,0
3,3,1 person found this review helpful0,Recommended,54.8,started out rough but the game has really turn...,Posted: 27 January,1,0
4,4,1 person found this review helpful0,Recommended,35.6,Fun game,Posted: 27 January,1,0

In [41]:
BF['review']=BF.apply(lambda row: re.sub("\t","",str(row['review'])),axis =1)

In [42]:
BF[["Help","funny"]]=BF["helpful"].str.split(n=1,expand= True)

In [46]:
BF['Help']=BF.apply(lambda row: re.sub("[A-z]","",str(row['Help'])),axis =1)

In [48]:
BF['funny']=BF.apply(lambda row: re.sub("[A-z]","",str(row['funny'])),axis =1)

In [50]:
BF['hours']=BF.apply(lambda row: re.sub("[A-z]","",str(row['hours'])),axis =1)